.logo-wrapper {
	text-align: center;

	img.logo {
		max-width: 150px;
		width: 100px;
		height: 100px;
	}
}


.component-wrapper {
	text-align: center;
}
.item {
	padding-left: 0px;
	background-color: transparent;
}