<ion-card class='custom-card'>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
        <p>
            {{username}} wants you to join group.
        </p>
        <ion-grid >
            <ion-row>
                <ion-col width-50>
                    <button ion-button color="blue" class="width-100" (click)="accept()">Accept</button>
                </ion-col>
                <ion-col width-50>
                    <button ion-button outline color="blue" class="width-100" (click)="dismiss()">Cancel</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>